.circle-red{
  border-color: #f44336;
}
.circle-green{
  border-color: #4caf50;
}
.circle-orange{
  border-color: #ffc107;
}

.fa-1{
  font-size: 16px;
}
.fa-2{
  font-size: 2em;
}
.fa-3{
  font-size: 4em;
}
.fa-4{
  font-size: 8em;
}
.fa-5{
  font-size: 12em;
}
.fa-6{
  font-size: 20em;
}
